# VGGT DROID Dataset Configuration - Single View Training
view_num: 1
data:
  train:
    _target_: data.dynamic_dataloader.DynamicTorchDataset
    num_workers: 0
    shuffle: True
    pin_memory: False
    collate_fn:
      _target_: data.collate_fn.vggt_droid_collate_fn
    common_config:
      fix_img_num: ${view_num}
      fix_aspect_ratio: 1
      load_track: False
      track_num: 1024
      training: True
      inside_random: True
      img_size: 518
      patch_size: 14
      rescale: True
      rescale_aug: True
      landscape_check: False
      debug: False
      get_nearby: True
      load_depth: False
      img_nums: [1, 1]
      allow_duplicate_img: False
      repeat_batch: False
      
      view_num: ${view_num}

      augs:
        cojitter: True
        cojitter_ratio: 0.3
        scales: [0.8, 1.2]
        aspects: [0.99,1.01]  # 围绕原始比例0.567的合理范围
        color_jitter:
          brightness: 0.5
          contrast: 0.5
          saturation: 0.5
          hue: 0.1
          p: 0.9
        gray_scale: True
        gau_blur: False

    # VGGT DROID specific configuration
    dataset:
      _target_: data.datasets.vggt_droid.VggtDroidDataset
      split: train
      # DROID_DIR: /mnt/zezhong/vggt/data_vggt
      DROID_DIR: /mnt/zezhong/calvin_processed/data_vggt
      min_num_frames: 1
      len_train: 100000
      enable_wrist_prediction: True
      view_num: ${view_num}

  val:
    _target_: data.dynamic_dataloader.DynamicTorchDataset
    num_workers: 8
    shuffle: False
    pin_memory: False
    max_img_per_gpu: 16
    collate_fn:
      _target_: data.collate_fn.vggt_droid_collate_fn
    common_config:
      fix_img_num: ${view_num}
      fix_aspect_ratio: 1
      load_track: False
      track_num: 1024
      training: False
      inside_random: False
      img_size: 518
      patch_size: 14
      rescale: True
      rescale_aug: False
      landscape_check: False
      debug: False
      get_nearby: True
      load_depth: False
      img_nums: [1, 1]
      allow_duplicate_img: False
      
      view_num: ${view_num}

      augs:
        cojitter: False
        cojitter_ratio: 0.5
        scales: null
        aspects: [1.0,1.0]  # 验证时固定为原始比例
        color_jitter: null
        gray_scale: False
        gau_blur: False

    # VGGT DROID specific configuration
    dataset:
      _target_: data.datasets.vggt_droid.VggtDroidDataset
      split: test
      # DROID_DIR: ./data_vggt
      DROID_DIR: /mnt/zezhong/calvin_processed/data_vggt
      min_num_frames: 1
      len_test: 10000
      enable_wrist_prediction: True
      view_num: ${view_num}